%li.left.clearfix
  %span.conversation-img.pull-left
    = image_tag avatar(message.user), class: "img-circle"
  .conversation-body.clearfix
    .header
      %strong.primary-font
        = message.user.username
      %small.pull-right.text-muted
        = fa_icon("clock-o", text: time_ago_in_words(message.created_at))
    %p
      = message.body
