var commentable = $("##{@commentable.class.name.downcase}_#{@commentable.id}");
- if @comment.errors.any?
  commentable.find("#form-comment-content").html("#{ j render 'form', commentable: @commentable }");
- else
  commentable.find(".form-group").removeClass("has-error");
  commentable.find("span.help-block").remove();
  commentable.find(".default-message").remove();
  commentable.find("#comment-list").prepend($("#{ j render @comment }").fadeIn(1000));
  commentable.find("#new_comment")[0].reset();
