var commentable = $("##{@commentable.class.name.downcase}_#{@commentable.id}");

commentable.find(".#{@commentable.class.name.downcase}-footer").html('<div id="form-comment-content">#{ j render 'form', commentable: @commentable }</div>');
