.panel-profile.widget
  .widget-header.bg-purple
    %img.widget-bg.img-responsive{:alt => "Image", :src => "http://lorempixel.com/500/320/nature/8/"}/
  .widget-body.text-center
    %img.widget-img.img-border-light{:alt => "Profile Picture", :src => "http://bootdey.com/img/Content/avatar/avatar3.png"}/
    %h4.mar-no Lucy Moon
    %p.text-muted.mar-btm Art Designer
    %ul.list-unstyled.text-center.pad-top.mar-no.clearfix
      %li.col-xs-4
        %span.text-lg 1,345
        %p.text-muted.text-uppercase
          %small Following
      %li.col-xs-4
        %span.text-lg 23,456
        %p.text-muted.text-uppercase
          %small Followers
      %li.col-xs-4
        %span.text-lg 52,678
        %p.text-muted.text-uppercase
          %small Likes
