.panel-profile.widget
  .widget-header
  .widget-body.text-center
    = image_tag "/assets/no_user.png", class: "widget-img img-border-light"
    %h4.mar-no #{user.username}, #{user.age}
    %ul.widget-actions
      %li.col-xs-4
        %span.text-lg 1,345
        %p.text-muted.text-uppercase
          %small Following
      %li.col-xs-4
        %span.text-lg 23,456
        %p.text-muted.text-uppercase
          %small Followers
      %li.col-xs-4
        %span.text-lg 52,678
        %p.text-muted.text-uppercase
          %small Likes
