= simple_form_for(post, data: { behavior: "new-post" }) do |f|
  = f.input :body, label: false, as: :text,
  placeholder: "What are you thinking?", input_html: {rows: 3}
  .clearfix
    = f.button :submit, "Publish", class: "btn btn-sm pull-right"
