- if @post.errors.any?
  $("#form-post").html("#{ j render 'form', post: @post }");
- else
  $("#new_post").find(".form-group").removeClass("has-error");
  $("#new_post").find("span.help-block").remove();
  $("#post-list").find(".default-message").remove();
  $(".side-profile-status").html("#{ j render 'status', user: current_user }");
  $("#post-list").prepend($("#{ j render @post }").fadeIn(1000));
  $("#new_post")[0].reset();
  $(".wrapper-img").remove();
