$("#post-list").append("#{ j render @posts }");
- if @posts.next_page
  $("#scrolling-content").html("#{ j link_to 'View More', root_path(page: @posts.current_page + 1), class: 'btn btn-sm btn-primary', remote: true }");
- else
  $(window).off("scroll");
  $("#scrolling-content").remove();
