.row
  .col-md-3
    = render "users/side_profile"
  .col-sm-6
    .wrapper
      #form-post-content
        .media
          .media-left
            = image_tag "/assets/no_user.png", class: "media-object"
          .media-body
            .media-heading
              #form-post
                = render "form", post: @post
    .wrapper
      #post-list
        = render @posts

