// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-post-content {
  padding: 20px 15px;
  .media-object {
    @extend .img-responsive;
    @extend .img-thumbnail;
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 5px;
  }
}

.post:not(:first-child) {
  border-top: 1px solid #e1e8ed;
}

.post-heading {
  height: 65px;
  padding: 20px 15px;
  h6.time {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .media {
    overflow: visible;
    .media-body{
      overflow: visible;
    }
  }
  .media-heading {
    margin-top: 5px;
  }
  .media-object {
    @extend .img-responsive;
    @extend .img-thumbnail;
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 5px;
  }
}

.post-description {
  padding: 15px;
  .stats {
    margin-top: 15px;
  }
  .stat-item {
    display: inline-block;
    margin-right: 10px;
  }
}

