// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-post {
  padding: 20px;
}

.post:not(:first-child) {
  border-top: 1px solid #e1e8ed;
}

.post-heading {
  height: 80px;
  padding: 20px 15px;
  .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
  }
}

.meta {
  .title {
    margin-bottom: 0;
  }
  .time {
    margin-top: 8px;
    color: #999;
  }
}

.post-description {
  padding: 15px;
  p {
    font-size: 14px;
  }
  .stats {
    margin-top: 20px;
    .stat-item {
      display: inline-block;
      margin-right: 15px;
      .icon {
        margin-right: 8px;
      }
    }
  }
}

.post-footer {
  border-top: 1px solid #e1e8ed;
  padding: 15px;
  background-color: #f6f7f9;
  .input-group-addon a {
    color: #454545;
  }
}

.comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
  .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
    .avatar {
      width: 35px;
      height: 35px;
    }
  }
  .comment-body, > .comments-list {
    margin-left: 50px;
  }
}

.comment-heading {
  display: block;
  width: 100%;
  .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
  }
  .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
  }
}

