// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-post-content {
  padding: 20px;
}

.post:not(:first-child) {
  border-top: 1px solid #e1e8ed;
}

.post-heading {
  height: 75px;
  padding: 20px 15px;
  h6.time {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .media {
    overflow: visible;
    .media-body{
      overflow: visible;
    }
  }
  .media-heading {
    margin-top: 5px;
  }
  .media-object {
    @extend .img-responsive;
    @extend .img-thumbnail;
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 5px;
  }
}

.post-description {
  padding: 15px;
  .stats {
    margin-top: 15px;
  }
}

.post-images {
  margin-top: 15px;
}

.post-footer {
  border-top: 1px solid #e1e8ed;
  padding: 15px;
  background-color: #f6f7f9;
  .input-group-addon a {
    color: #454545;
  }
  p {
    font-size: 13px;
  }
  .media-heading {
    small {
      margin-left: 15px;
      font-size: 12px;
    }
  }
  .media-object {
    @extend .img-responsive;
    @extend .img-thumbnail;
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 5px;
  }
}

.comment-list {
  padding: 0;
  margin-top: 20px;
  .media-list {
    margin: 0px;
  }
}

.post-images {
  .thumbnail {
    margin-bottom: 0px;
  }
}

