.wrapper-auth {
  padding: 10px 25px 25px 25px;
}

.auth-links {
  @extend .list-unstyled;
  margin-top: 10px;
}

.panel-profile {
  border-radius: 0;
  border: 1px solid #e1e8ed;
  margin-bottom: 24px;

  .widget-header {
    padding: 15px 15px 50px 15px;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    background-color: #E5F2F7;
  }

  .widget-body {
    padding: 50px 15px 15px;
    position: relative;
    background-color: #fff;
  }

  .widget-img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 47%;
    margin-left: -32px;
    top: -45px;
  }

  .img-border-light {
    box-shadow: 0 0 0 4px #fff;
  }

  .mar-no {
    margin: 0 !important;
  }

  .text-muted {
    color: #606060;
  }

  a.text-muted {
    &:hover, &:focus {
      color: #606060;
    }
  }

  .pad-top {
    padding-top: 8px;
  }

  .small, small {
    font-size: 68%;
  }

  .text-lg {
    font-size: 78%;
  }
}
