.wrapper-auth {
  padding: 10px 25px 25px 25px;
}

.auth-links {
  @extend .list-unstyled;
  margin-top: 10px;
}

.side-profile-header {
  padding: 15px 15px 50px 15px;
  min-height: 80px;
  position: relative;
  overflow: hidden;
  background-color: #E5F2F7;
}

.side-profile-body {
  padding: 45px 10px 1px;
  position: relative;
  background-color: #fff;
  .side-profile-img {
    @extend .img-thumbnail;
    @extend .img-responsive;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    top: -45px;
  }
  h4 {
    margin: 0px 0px 15px 0px;
  }
  ul {
    @extend .list-unstyled;
    @extend .text-center;
    @extend .clearfix;
    span {
      font-size: 78%;
    }
    small {
      font-size: 68%;
    }
  }
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  > li {
    padding: 3px 20px;
    &.ui-state-focus {
      background-color: #DDD;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.profile-menu {
  padding: 15px 15px 0px 15px;
}

.profile-img {
  padding: 15px 15px 0px 15px;
  img {
    @extend .center-block;
    width: 130px;
    height: 130px;
  }
}

.profile-content {
  padding: 15px;
  h4 {
    @extend .text-center;
    margin: 0;
  }
  span {
    @extend .text-center;
    @extend .center-block;
    margin-bottom: 10px;
  }
}

.profile-info {
  padding: 15px;
  h5 {
    margin: 0px 0px 5px 0px;
  }
  p {
    margin-bottom: 3px;
  }
  .profile-map {
    margin: 10px 0px 10px 0px;
  }
}

.profile-config {
  margin-top: 10px;
  form {
    margin-top: 13px;
  }
}
