.wrapper-auth {
  padding: 10px 25px 25px 25px;
}

.auth-links {
  @extend .list-unstyled;
  margin-top: 10px;
}

.panel-profile {
  border-radius: 0;
  border: 1px solid #e1e8ed;
  margin-bottom: 24px;

  .widget-header {
    padding: 15px 15px 50px 15px;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    background-color: #E5F2F7;
  }

  .widget-body {
    padding: 45px 10px 1px;
    position: relative;
    background-color: #fff;
  }

  .widget-img {
    @extend .img-responsive;
    position: absolute;
    width: 75px;
    height: 75px;
    left: 48%;
    margin-left: -32px;
    top: -45px;
  }

  .widget-actions {
    @extend .list-unstyled;
    @extend .text-center;
    @extend .clearfix;
  }

  .img-border-light {
    box-shadow: 0 0 0 4px #fff;
  }

  .mar-no {
    margin: 0px 0px 15px 0px !important;
  }

  .text-muted {
    color: #606060;
  }

  a.text-muted {
    &:hover, &:focus {
      color: #606060;
    }
  }

  .small, small {
    font-size: 68%;
  }

  .text-lg {
    font-size: 78%;
  }
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  > li {
    padding: 3px 20px;
    &.ui-state-focus {
      background-color: #DDD;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.profile-menu {
  padding: 15px;
  border-bottom: 1px solid #e1e8ed;
}
